html{
    height: 50vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: antiquewhite;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: white;
}

.cat-container {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

@keyframes cat-animation {
    from { background-position: 0 0; }
    to { background-position: -640px 0; } /* предположим, что в спрайте 10 кадров по 64px */
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe-container {
    scroll-behavior: smooth;
    position:relative;
    height: 300px; /* Высота контейнера под 5 элементов, каждый по 60px + маржин */
    overflow-y: auto;
    width: 20rem; /* Ширина контейнера */
}

.swipe-content {
    width: 20rem;
    height:1500px;
    max-height:100%;
    overflow:auto;
    display: flex;
    flex-direction: column;
}

h2{
    font-family: Courier, monospace;
    margin: 1rem;
}

p{
    margin: 0 0 0 2rem;
    font-family: Courier, monospace;
}

.content{
    height: 50vh;
    margin: 2rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkbox-wrapper-58{
    margin: 1rem 0; /* Маржин для блоков */
    display: flex;
    flex-direction: row;
}

.checkbox-wrapper-58 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-58 *,
  .checkbox-wrapper-58 ::after,
  .checkbox-wrapper-58 ::before {
    box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox-wrapper-58 .switch {
    /* Variables */
    --switch_width: 2em;
    --switch_height: 1em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
  }

  /* The slider */
  .checkbox-wrapper-58 .slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
  }

  .checkbox-wrapper-58 .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
  }

  .checkbox-wrapper-58 input:checked + .slider {
    background-color: var(--track_active_color);
  }

  .checkbox-wrapper-58 input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
  }

  .checkbox-wrapper-58 input:disabled{
      --track_color: white;
  }

  /* Raise thumb when hovered */
  .checkbox-wrapper-58 input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }

  .checkbox-wrapper-58 input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }

  /* Raise thumb when hovered & checked */
  .checkbox-wrapper-58 input:hover:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }

  .button-2d {
            padding: 10px 20px;
            border: 2px solid #333;
            background-color: #fff;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            margin-top: 20px;
        }
        .button-2d:hover {
            background-color: #333;
            color: #fff;
        }