body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
}

.cat-container {
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

@keyframes cat-animation {
    from { background-position: 0 0; }
    to { background-position: -640px 0; } /* предположим, что в спрайте 10 кадров по 64px */
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe-container {
    height: 300px; /* Высота контейнера под 5 элементов, каждый по 60px + маржин */
    overflow-y: auto;
    width: 200px; /* Ширина контейнера */
}

.swipe-content {
    display: flex;
    flex-direction: column;
}

.text-block {
    height: 60px; /* Высота блока */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0; /* Маржин для блоков */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}